*{
    margin: 0;
    padding: 0;
   
}
.test1 {
    background-color:whitesmoke;
    height: 1000px;
  }
  .test2 {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 4%;
    
  }
  .entire{
      margin-top: 4%;
      border: 1px black solid;
      margin-left: 20%;
      margin-right: 20%;
      padding-top: 6%;
      padding-bottom: 6%;
      border-radius: 8px;
      background-image: linear-gradient(to left,yellow,yellow, orange, red);
      
    }
  
  .listtest1 {
    background-color: lightgreen;
    text-align: center;
    padding: 7px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 4;
  }
  .test3 {
    margin-bottom: 3%;
    height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    padding: 2px;
  }
  .test4 {
    margin-bottom: 10px;
    width: 80.3%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    padding: 2px;
    border-radius: 8px;
    
  }
  .test5 {
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3px;
    border-radius: 5px;
  }
  .testbutton1 {
    color: white;
    background-color: mediumblue;
    margin-left: 10%;
    margin-bottom: 1%;
    border-radius: 5px;
    padding: 3px 7px;
    width: auto;
  }
  
  .testbutton2 {
    color: white;
    background-color: red;
    margin-left: 10%;
    border-radius: 5px;
    padding: 3px 7px;
    width: auto;
    margin-bottom: 8%;
  }
  .testlist {
    border: 1px solid black;
    padding: 5px;
    margin: 2%;
    background-color: #f5ec42;
    list-style: none;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .listButton {
    color: white;
    background-color: red;
    margin-top: 2%;
    border-radius: 5px;
    width: 50px;
    padding: 2px;
    margin-left: auto;
    
  }
  
  .testlistdes {
    margin-top: 1%;
    font-weight: normal;
  }
  